<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sungsung.youthpolicy.mapper.MemberMapper">
    <insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO TBL_MEMBER(EMAIL, NAME, LOGIN_ID, PWD)
        VALUES (#{email},#{name},#{loginId}, #{pwd})
    </insert>


    <select id="selectPwdByLoginId">
        SELECT ID,LOGIN_ID, PWD FROM TBL_MEMBER
        WHERE LOGIN_ID=#{loginId}
    </select>


</mapper>