<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sungsung.youthpolicy.mapper.MemberMapper">
    <insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO TBL_MEMBER(EMAIL, NAME, LOGIN_ID, PASSWORD,PROVIDER,ROLE)
        VALUES (#{email},#{name},#{loginId}, #{password},#{provider},#{role})
    </insert>


    <select id="selectPwdByLoginId">
        SELECT ID,LOGIN_ID, PASSWORD FROM TBL_MEMBER
        WHERE LOGIN_ID=#{loginId}
    </select>

    <select id="selectMemberByLoginId">
        SELECT LOGIN_ID, NAME, EMAIL,PROVIDER FROM TBL_MEMBER WHERE LOGIN_ID=#{id}
    </select>



<!--MEMBER_PLUS-->
    <insert id="insertMemberPlus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO TBL_MEMBER_PLUS(MEMBER_ID, AGE, REGION, MAIN_CATEGORY, MARRIAGE)
        VALUES (#{memberId}, #{age}, #{region}, #{mainCategory}, #{marriage})
    </insert>

    <select id="selectMemberPlusDTOByMemberId">

        SELECT TMP.AGE, TMP.REGION, TMP.REGION, TMP.MEMBER_ID, TMP.MAIN_CATEGORY ,TM.NAME
        FROM TBL_MEMBER_PLUS TMP
        RIGHT JOIN TBL_MEMBER TM ON TMP.MEMBER_ID = TM.LOGIN_ID
        WHERE TM.LOGIN_ID = #{loginId}
    </select>
</mapper>